/* misc */

.fira {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 150%;
    overflow-y: auto;
}

.mid {
    margin-left: auto;
    margin-right: auto;
}

.rale{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.column {
    display: flex;
    flex-direction: column;
}

.shad {
    text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
}

/* body */
.open {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}

.follower {
    margin-top: 100dvh;
    background-color: rgba(242, 233, 225, 1)
}

.titlewrap {
    background-color: rgba(71, 71, 71, 1);
    width: 100%;
    padding-top: 2dvw;
}

.titlewrapdos {
    background-color:  rgb(153, 102, 58);
}

.title {
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    font-size: 21dvw;
    text-align: center;
    color: transparent;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-image: url('imgs/desert.png');
    background-attachment: scroll; /* Set background attachment to scroll */
    background-size: cover;
    background-clip: text;
}


#fol {
    transition: transform 0.3s ease-out; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#msg {
    width: 100%;
    height: 35dvh;
}

nav {
    display: flex; 
    justify-content: space-between;
}

@media (max-width: 1000px) {

  }