
body {
    margin: 0px;
    box-sizing: border-box; 
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200dvh;
}
/* nav */

.gn {
    display: none;
}

.navline {
    position: fixed;
    width: 100dvw;
    height: .1dvw;
    margin-top: 1.7dvw;
    background-color: white;
}

nav {
    margin-top: .2dvw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbut {
    background-color: rgb(0, 0, 0);
    border: .1dvw solid rgb(255, 255, 255);
    border-radius: .8dvw;
    width: 3dvw;
    height: 3dvw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 2dvw;
}

.line {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 2dvw;
    height: .15dvw;
    margin-top: .1dvw;
    transition: all 1.5s ease;
}

.topmv {
    transform: rotate(90deg);
    translate: 0px -2.5dvw;
    transition: all .8s ease;
}

.botmv {
    transform: rotate(90deg);
    translate: 0px 2.5dvw;
    transition: all .8s ease;
}

.trr {
    transform: rotate(45deg);
    transition: all 1s ease;
}

.trl {
    transform: rotate(-45deg);
    transition: all 1s ease;
}

.conbefore {
    width: .1dvw;
    height: 0dvw;
    background-color: rgb(255, 255, 255);  
    transition: all 1s
}

.con {
    background-color: rgb(255, 255, 255);  
    width: .1dvw;
    height: 2.5dvw;
    transition: all 1s;
}

.navcontbefore {  
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 0px;
    height: 0px;
    border-radius: .8dvw;   
    transition: all 1s;
    border: .0dvw solid rgb(255, 255, 255);
}

.navcontfirst {
    border: .1dvw solid rgb(255, 255, 255);
    transition: all 1s;
    width: 10dvw;
    height: 0px;
}

.navcont {
    height: 25dvw;
    background-color: rgba(0, 0, 0, 0.541);
}

.navlink {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1dvw;    
}

.navlink p{     
    margin-top: .5dvw;
    margin-bottom: .5dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border: .1dvw solid rgb(255, 255, 255);
    border-radius: .8dvw;
    height: 2dvw;
    width: 8dvw;
}
