/* misc */

.fira {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}

* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    
}

.mid {
    margin-left: auto;
    margin-right: auto;
}

/* body */
.open {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}
.follower {
    margin-top: 100dvh;
    height: 200dvh;
    background-color: rgba(191, 183, 175, 1);
}
.titlewrap {
    background-color: rgba(71, 71, 71, 1);
    width: 100%;
    padding-top: 2dvw;
    text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
}

.title {
    width: 100%;
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    font-size: 23dvw;
    background-color: rgba(242, 233, 225, 1);
    color: rgba(64, 64, 64, 1);
    text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
}
