/* misc */

.fira {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 150%;
}

.mid {
    margin-left: auto;
    margin-right: auto;
}

.rale {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.column {
    display: flex;
    flex-direction: column;
}

.shad {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.shad2 {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(71, 71, 71, 1);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

/* body */
.open {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10dvw;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}

.follower {
    margin-top: 100dvh;
    height: 100dvh;
    background-color: rgba(191, 183, 175, 1)
}

.titlewrap {
    background-color: rgba(71, 71, 71, 1);
    width: 100%;
    padding-top: 2dvw;
}

.titlewrapdos {
    background-color: rgba(242, 233, 225, 1);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.title {
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    font-size: 21dvw;
    text-align: center;
    color: transparent;
    background-image: url('imgs/desert.png');
    background-attachment: fixed;
    background-size: cover;
    background-clip: text;
    transition: text-shadow 1s;
    z-index: 100000;
}

.title:hover {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
    transition: text-shadow 1s;
}

#fol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#msg {
    width: 100dvw;
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 3dvw;
    margin-right: 3dvw;
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 100dvw;
    font-size: 30px;
}

nav a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    border-radius: 15px;
    font-size: 30px;
    color: rgba(71, 71, 71, 1);
    text-decoration: none;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    transition: transform 1s ease-in-out;
}

nav a p {
    display: flex;
    justify-content: center;
    width: 10dvw;
    display: flex;
    align-items: center;
    background-color: rgba(242, 233, 225, 1);
    border: 5px solid rgba(191, 183, 175, 1);
    border-radius: 12px;
    padding: .3dvw;
    padding-left: 1dvw;
    padding-right: 1dvw;
    height: 50px;
    transition: all 2s;
}

nav a:hover {
    transform: translateY(-1dvw);
    transition: transform 1s;
}

nav a:hover p {
    height: 10dvw;
    transition: all 1.5s;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0);
}


body::-webkit-scrollbar {
    display: none;
}



@media (max-width: 1200px) {
    nav a {

        background-image: none;
        font-size: 40px;
    }

    nav a p {
        width: 50dvw;
    }

    nav {
        flex-direction: column;
        height: 100%;
        padding-top: 1dvw;
        padding-bottom: 1dvw;
    }
}